@import "../../node_modules/semantic-ui-less/semantic.less";

.ui.sidebar.menu .item.is-one-third {
    min-width: 33.3vw;
    padding-left: 13vw;
}

.ui.sidebar.menu{
  overflow: hidden !important;
}

.ui.container.no-margin-left {
    margin-left: 0px;
}

.ui.container {
    margin-top: 100px !important;
}

.material-icons.point-interest-icon{
  color: #228CDF;
  font-size: 28px;
}

.item.tootip:after{
  content: attr(text);
  color: black;
  font-weight: 700;
  position: relative;
  font-size: 20px;
  width: 100%;
  padding-right: 6px;
  padding-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
